<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>StudyPath</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>


<body>
    <!-- Main Body -->
    <div class="page-wrapper">

        <!-- Header Start -->
        <header class="header-wrapper main-header" th:replace="Plugins.html::HeaderStart"></header>

        <!-- Sidebar Start -->
        <aside class="sidebar-wrapper" th:replace="Plugins.html::SidebarStart"></aside>

        <!-- Container Start -->
        <div class="page-wrapper">
            <div class="main-content">
                <!-- Page Title Start -->
                <div class="row">
                    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-title-wrapper">
                            <div class="page-title-box ad-title-box-use">
                                <h4 class="page-title">Orders</h4>
                            </div>
                            <div class="ad-breadcrumb">
                                <ul>
                                    <li>
										<div class="ad-user-btn">
											<input class="form-control" type="text" placeholder="Search Here..." id="text-input">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 56.966 56.966">
												<path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
												s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
												c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
												s-17-7.626-17-17S14.61,6,23.984,6z"></path>
											</svg>
										</div>
                                    </li>
                                    <li>
										<div class="add-group">
											<a class="ad-btn" href="AddCourse">添加课程</a>
										</div>
									</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table Start -->
                <div class="row">
                    <!-- Styled Table Card-->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card table-card">
                            <div class="card-header pb-0" style="border-bottom: none">
                                <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab1" data-toggle="tab" th:attr="CourseType='全部'" href="javascript:void(0)" onclick="doGetCourseType(this)" role="tab" aria-controls="home" aria-selected="true">全部</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab20" data-toggle="tab" th:attr="CourseType='公共课'" href="javascript:void(0)" role="tab" onclick="doGetCourseType(this)" aria-controls="profile" aria-selected="false">公共课</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab21" data-toggle="tab" th:attr="CourseType='通识课'" href="javascript:void(0)" role="tab" onclick="doGetCourseType(this)" aria-controls="profile" aria-selected="false">通识课</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab22" data-toggle="tab" th:attr="courseType='讲座'" href="javascript:void(0)" role="tab" onclick="doGetCourseType(this)" aria-controls="profile" aria-selected="false">讲座</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab23" data-toggle="tab" th:attr="CourseType='专业课'" href="javascript:void(0)" role="tab" onclick="doGetCourseType(this)" aria-controls="profile" aria-selected="false">专业课</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab24" data-toggle="tab" th:attr="courseType='慕课'" href="javascript:void(0)" role="tab" onclick="doGetCourseType(this)" aria-controls="profile" aria-selected="false">慕课</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="padding-top: 0">
                                <div class="chart-holder">
                                    <div class="table-responsive">
                                        <table class="table table-styled mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
													</th>
                                                    <th>课程ID</th>
                                                    <th>课程名称</th>
                                                    <th>先修课程编号·名称</th>
                                                    <th>课程学分</th>
                                                    <th>课程类型</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="Course : ${pagination.getData()}">
                                                    <td>
													</td>
                                                    <td th:text="'#'+${Course.getNo()}"></td>
                                                    <td>
                                                        <span class="img-thumb ">
                                                            <img src="static/picture/1.jpg" alt=" ">
                                                            <span class="ml-2 " th:text="${Course.getName()}"></span>
                                                        </span>
                                                    </td>
                                                    <td th:text="${Course.getPno()} + ' · ' + ${Course.getPnoName()}" th:if="${Course.getPno()}" ></td>
                                                    <td th:unless="${Course.getPno()}">无</td>
                                                    <td th:text="${Course.getCredit()}"></td>
                                                    <td>
														<label class="mb-0 badge badge-primary" title="" data-original-title="Pending" th:text="${Course.getType()}"></label>
													</td>
                                                    <td class="relative">
                                                        <a class="action-btn " href="javascript:void(0); ">
                                                            <svg class="default-size " viewbox="0 0 341.333 341.333 ">
                                                                <g>
                                                                    <g>
                                                                        <g>
                                                                            <path d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667 C128,66.24,147.093,85.333,170.667,85.333z "></path>
                                                                            <path d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 S194.24,128,170.667,128z "></path>
                                                                            <path d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 C213.333,275.093,194.24,256,170.667,256z "></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <div class="action-option ">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0)" onclick="doEditCourse(this)" th:attr="editCourse=${Course.getNo()}"><i class="far fa-edit mr-2 "></i>Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0)" onclick="doDelCourse(this)" th:attr="delCourse=${Course.getNo()}"><i class="far fa-trash-alt mr-2 "></i>Delete</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
								<div class="text-right pt-2">
									<nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <!-- 上一页按钮 -->
                                            <li th:classappend="${pagination.currentPage == 1} ? 'disabled' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + (${pagination.currentPage} - 1) + ')'">
                                                    <i class="fas fa-chevron-left"></i>
                                                </a>
                                            </li>

                                            <!-- 页码按钮 -->
                                            <li th:each="i : ${#numbers.sequence(1, pagination.totalPages)}" th:classappend="${i == pagination.currentPage} ? 'active' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + ${i} + ')'">
                                                    <span th:text="${i}"></span>
                                                </a>
                                            </li>

                                            <!-- 下一页按钮 -->
                                            <li th:classappend="${pagination.currentPage == pagination.totalPages} ? 'disabled' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + (${pagination.currentPage} + 1) + ')'">
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>

                                        <script th:inline="javascript">
                                            function goToPage(page) {
                                                // 确保页码在有效范围内
                                                if (page < 1 || page > [[${pagination.totalPages}]]) {
                                                    return;
                                                }

                                                // 从 localStorage 获取之前选择的课程类型
                                                const selectedCourseType = localStorage.getItem('selectedCourseType') || '全部'; // 如果未选择则默认为 '全部'

                                                // 跳转到指定页码并包含课程类型参数
                                                window.location.href = '/StudyPath/CourseInfo?CourseType=' + selectedCourseType + '&page=' + page;
                                            }
                                        </script>
                                  </nav>
								</div>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="ad-footer-btm">
					<p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>
	</div>



    <!-- Script Start -->
	<div th:replace="Plugins.html::JsZip"></div>
    <script>
        function doGetCourseType(element) {
            // 获取选中的标签的 CourseType
            const value = element.getAttribute('CourseType'); // 注意大小写要与 HTML 中一致
            // 存储 CourseType 和 ID
            localStorage.setItem('selectedTab', element.id);
            localStorage.setItem('selectedCourseType', value);

            // 重定向到新的 URL
            window.location.href = `/StudyPath/CourseInfo?CourseType=${value}`;
        }

        // 页面加载时，恢复选中状态
        window.onload = function() {
            // 获取存储的选中标签和课程类型
            const selectedTab = localStorage.getItem('selectedTab');
            const selectedCourseType = localStorage.getItem('selectedCourseType');

            if (selectedTab) {
                // 移除所有标签的 active 类
                const tabs = document.querySelectorAll('.nav-link');
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                    tab.setAttribute('aria-selected', 'false');
                });

                // 添加 active 类到存储的标签
                const activeTab = document.getElementById(selectedTab);
                if (activeTab) {
                    activeTab.classList.add('active');
                    activeTab.setAttribute('aria-selected', 'true');
                }
            }

            // 如果需要使用 selectedCourseType，可以在这里进行相应的操作
            // console.log(selectedCourseType);
        };
    </script>
</body>

</html>