<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>StudyPath</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>

<body>
	<div class="loader">
	  <div class="spinner">
		<img src="static/picture/loader.gif" alt="">
	  </div> 
	</div>
    <!-- Main Body -->
    <div class="page-wrapper">
        <!-- Header Start -->
        <header class="header-wrapper main-header" th:replace="StudentPlugins.html::HeaderStart"></header>

        <!-- Sidebar Start -->
        <aside class="sidebar-wrapper" th:replace="StudentPlugins.html::SidebarStart"></aside>
        <!-- Container Start -->
        <div class="page-wrapper">
            <div class="main-content">
                <!-- Page Title Start -->
                <div class="row">
                    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-title-wrapper">
                            <div class="page-title-box">
                                <h4 class="page-title bold">主页</h4>
                            </div>
                            <div class="breadcrumb-list">
                                <ul>
                                    <li class="breadcrumb-link">
                                        <a href="StudentIndex"><i class="fas fa-home mr-2"></i>主页</a>
                                    </li>
                                    <li class="breadcrumb-link active">Admin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card chart-card">
                            <div class="card-header">
                                <h4>成绩</h4>
                            </div>
                            <div class="card-body pb-4">
                                <div class="chart-holder">
                                    <div class="table-responsive">
                                        <table class="table table-styled mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
													</th>
                                                    <th>课程编号·课程名称</th>
                                                    <th>教师号·教师名称</th>
                                                    <th>成绩</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="enrollment: ${pagination.getData()}">
                                                    <td></td>
                                                    <td th:text="${enrollment.getOfferingId()}+' · '+${enrollment.getCourseName()}"></td>
                                                    <td th:text="${enrollment.getInstructorId()} +' · '+${enrollment.getInstructorName()}"></td>
                                                    <td>
                                                        <label class="mb-0 badge badge-primary" title="" data-original-title="Pending" th:if="${enrollment.getGrade()}" th:text="${enrollment.getGrade()}"></label>
                                                        <label class="mb-0 badge badge-danger" title="" data-original-title="Pending" th:unless="${enrollment.getGrade()}" th:text="成绩未出"></label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-right pt-2">
                                    <nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <!-- 上一页按钮 -->
                                            <li th:classappend="${pagination.currentPage == 1} ? 'disabled' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + (${pagination.currentPage} - 1) + ')'">
                                                    <i class="fas fa-chevron-left"></i>
                                                </a>
                                            </li>

                                            <!-- 页码按钮 -->
                                            <li th:each="i : ${#numbers.sequence(1, pagination.totalPages)}" th:classappend="${i == pagination.currentPage} ? 'active' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + ${i} + ')'">
                                                    <span th:text="${i}"></span>
                                                </a>
                                            </li>

                                            <!-- 下一页按钮 -->
                                            <li th:classappend="${pagination.currentPage == pagination.totalPages} ? 'disabled' : ''" class="page-item">
                                                <a class="page-link" href="javascript:void(0);" th:onclick="'goToPage(' + (${pagination.currentPage} + 1) + ')'">
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>

                                        <script th:inline="javascript">
                                            function goToPage(page) {
                                                // 确保页码在有效范围内
                                                if (page < 1 || page > [[${pagination.totalPages}]]) {
                                                    return;
                                                }
                                                // 跳转到指定页码
                                                const url = new URLSearchParams(window.location.search);
                                                window.location.href = '/StudyPath/StudentIndex?page=' + page;
                                            }
                                        </script>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="ad-footer-btm">
					<p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
            </div>
        </div>
    </div>


    <!-- Script Start -->
	<script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/swiper.min.js"></script>
    <script src="static/js/apexcharts.min.js"></script>
    <script src="static/js/control-chart-apexcharts.js"></script>
	<!-- Page Specific -->
    <script src="static/js/nice-select.min.js"></script>
    <!-- Custom Script -->
    <script src="static/js/custom.js"></script>
</body>

</html>